body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: auto;
    font-family: 'Playfair Display', sans-serif;
}

.link {
    fill: none;
    stroke: #8ac7d7;
}

.text {
    text-shadow: -1px -1px 3px white,
    -1px 1px 3px white,
    1px -1px 3px white,
    1px 1px 3px white;
    cursor: default;
}
